<%- include('../partials/header.ejs') %>
    <h1>All Dinners</h1>
    <div>
        <ul>
            <% dinners.forEach((dinner) => { %>
            <h3><%= dinner.username.username %>'s Dinner</h3>
            <li><%= dinner.mealsource %></li>
            <li><%= dinner.image %></li>
            <li><%= dinner.title %></li>
            <li><%= dinner.category %></li>
            <li><%= dinner.cuisine %></li>
            <li><%= dinner.preference %></li>
            <li><%= dinner.seasonal %></li>
            <li><%= dinner.occasion %></li>
            <li><%= dinner.description %></li>
            <% }) %>
        </ul>
    </div>
<%- include('../partials/footer.ejs') %>
