<%- include('../partials/header.ejs') %>
    <h1>Details</h1>
    <div>
        <ul>
            <h3><%= dinner.user.username %>'s Dinner</h3>
            <li><%= dinner.mealsource %></li>
            <li><%= dinner.image %></li>
            <li><%= dinner.title %></li>
            <li><%= dinner.category %></li>
            <li><%= dinner.cuisine %></li>
            <li><%= dinner.preference %></li>
            <li><%= dinner.seasonal %></li>
            <li><%= dinner.occasion %></li>
            <% if (dinner.description) { %>
            <li><%= dinner.description %></li>
            <% } %>
            <p>Added on: <%= dinner.createdAt.toLocaleDateString() %></p>
        </ul>
    </div>
    <div class="btn">
        <a href="/dinners">Back to List</a>
        <% if (dinner.user?._id.equals(user?._id)) { %>
        <a href="/dinners/<%= dinner._id %>/edit">Edit this Dinner</a>
        <% } else { %>
        <p> <%= dinner.user.username %> shared this.</p>
        <% } %>
    </div> 
<%- include('../partials/footer.ejs') %>
